[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot
	branch = 2022.02.x
[submodule "assignment-7-alabd0"]
	path = assignment-7-alabd0
	url = https://github.com/cu-ecen-aeld/assignment-7-alabd0
